@import "tailwindcss";

@theme {
  --animate-popup-150 : popup 150ms  ease-in-out;
  --animate-popup-500 : popup 500ms ease-in-out;

@keyframes popup {
  0%   { transform: scale(.7); opacity: 0; }
  60%  { transform: scale(1.02); opacity: 1; }
  100% { transform: scale(1); }
}

}

@layer base{
  h1{
    @apply text-3xl md:text-4xl font-extrabold text-center
  }

  h2{
    @apply text-2xl lg:text-3xl font-bold text-center
  }

  p{
    @apply p-3;
  }

}